<div class="container-fluid content">
  <div class="row justify-content-md-center">
    <div class="col-md-6 text-center header">
        <h1 class="">Top {{typeSelected}}</h1>
        <p class="lead text-muted">When once wasn't enough</p>
        <p> <a href="{{redirect}}" class="btn btn-primary btn-main">Connect to Spotify</a> </p>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)" class="nav-pills selector">
          <!-- ARTISTS -->
          <li [ngbNavItem]="1">
            <a ngbNavLink class="type-selector">Artists</a>
            <ng-template ngbNavContent>
                <div class="row justify-content-md-center">
                  <div *ngFor="let item of arrayArtists; let i = index">
                    <div class="col">
                    <mat-card class="artist-card shadow p-3 mb-5 bg-white rounded">
                      <mat-card-header>
                        <mat-card-title > {{item.name}}</mat-card-title>
                      </mat-card-header>
                      <img class="artist-img" mat-card-image src={{item.images[1].url}}/>
                      <mat-card-content>
                        <p> <b>Followers:</b> {{item.followers.total | number}} </p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>LISTEN</button>
                      </mat-card-actions>
                    </mat-card>
                    </div>
                  </div>
                </div>
              </ng-template>
          </li>
          <!-- ALBUMS -->
          <li [ngbNavItem]="2">
            <a ngbNavLink class="type-selector">Tracks</a>
            <ng-template ngbNavContent>
                <div class="row justify-content-md-center">
                  <div *ngFor="let item of arrayAlbums; let i = index">
                    <div class="col">
                    <mat-card class="artist-card shadow p-3 mb-5 bg-white rounded">
                      <mat-card-header>
                        <mat-card-title >{{item.artists[0].name}}</mat-card-title>
                        <mat-card-subtitle style="font-style: italic;">{{item.album.name}} </mat-card-subtitle>
                      </mat-card-header>
                      <img class="artist-img" mat-card-image src={{item.album.images[1].url}}/>
                      <mat-card-content>
                        <p>
                          <b >Top Track:</b> {{item.name}}
                        </p>
                      </mat-card-content>
                      <mat-card-actions >
                        <button mat-button>LISTEN</button>
                      </mat-card-actions>
                    </mat-card>
                    </div>
                  </div>
                </div>
              </ng-template>
          </li>
        </ul>
    </div>
  </div>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>